@media (max-width: 600px){
	main{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: auto;
		height: auto;
		background-color: #ffffff);
		padding: 30px;
		
	}
	


}